{% extends 'base.html' %}

{% load custom_filter %}

{% block title %} Corsi di Tennis{% endblock %} 

{% block content %} 
<br> 
<div class="container mt-4">
    <form class="mb-1 sticky-top row g-2" role="search" method="get">
        <!-- Prima riga: Campo di ricerca libera, Menu a tendina per il coach e Slider per il range di prezzo -->
        <div class="row w-100 g-2 align-items-center">
            <!-- Campo di ricerca libera -->
            <div class="col col-md-4">
                <input type="text" class="form-control price-label" name="query" placeholder="Cerca corso">
            </div>

            <!-- Menu a tendina per il coach -->
            <div class="col col-md-4">
                <select class="form-control price-label" name="coach">
                    <option value="">Scegli coach</option>
                    {% for coach in coaches %}
                        <option value="{{ coach }}"> {{ coach }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Slider per il range di prezzo -->
            <div class="col col-md-4">
                <div class="price-label">
                    <input class="form-check-input my-checkbox" type="checkbox" value="True" id="flexCheckDefault" name="paid">
                    <label class="form-check-label" for="flexCheckDefault">
                        A pagamento
                    </label>
                    <input class="form-check-input my-checkbox" type="checkbox" value="True" id="flexCheckChecked" name="free">
                    <label class="form-check-label" for="flexCheckChecked">
                        Gratis
                    </label>
                    </div>
            </div>
        </div>

        <!-- Seconda riga: Due menu a tendina e bottone di ricerca -->
        <div class="row w-100 g-2 mt-3 align-items-center">
            <!-- Primo menu a tendina -->
            <div class="col col-md-4">
                <select class="form-control price-label" name="level">
                    <option value="">Scegli livello</option>
                    {% for l in livelli %}
                        <option value="{{ l }}">{{ l }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Secondo menu a tendina con piccolo menu a tendina accanto -->
            <div class="col col-md-4 d-flex align-items-center">
                <select class="form-control price-label me-2" name="ordering" style="width: auto;">
                    <option value="">↑</option>
                    <option value="-">↓</option>
                </select>
                <select class="form-control price-label" name="order_by">
                    <option value="">Ordina per</option>
                    {% for o in ordinamenti %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Bottone di ricerca -->
            <div class="col col-md-4 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-search"><span>Cerca</span></button>
            </div>
        </div>
    </form>
</div>

    
    <div class="album py-5 ">
    
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {% for c in object_list %}
        <div class="col">
          {% include "course_card.html"%} 
        </div>
        
        {%endfor%}
        </div>
        
        <br>
        <div class="n_text"> {{ page_obj.paginator.count }} risultati trovati | Pagina {{page_obj.number}} </div>
        <ul class="pagination mt-2 mb-0 justify-content-center n_text">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class='btn' href="?{% if request.GET.query %}query={{ request.GET.query }}{% endif %}{% if request.GET.coach %}&coach={{ request.GET.coach }}{% endif %}{% if request.GET.paid %}&paid={{ request.GET.paid }}{% endif %}{% if request.GET.free %}&free={{ request.GET.free }}{% endif %}{% if request.GET.level %}&level={{ request.GET.level }}{% endif %}{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}&page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class='btn' href="?{% if request.GET.query %}query={{ request.GET.query }}{% endif %}{% if request.GET.coach %}&coach={{ request.GET.coach }}{% endif %}{% if request.GET.paid %}&paid={{ request.GET.paid }}{% endif %}{% if request.GET.free %}&free={{ request.GET.free }}{% endif %}{% if request.GET.level %}&level={{ request.GET.level }}{% endif %}{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}&page={{ page_obj.next_page_number }}">></a>
            {% endif %}
        </li>
      </ul>
    </div>
    
    </div>
    


<script>
    function updateRangeValue(value) {
        document.getElementById('range_value').innerText = "0€ - " + value+"€";
    }
</script>
{% endblock %}