{% extends 'base.html' %}

{% load custom_filter %}

{% block title %} Corsi di Tennis{% endblock %} 

{% block content %} 
<br> 
<div class="container mt-4">
    <form class="mb-1 sticky-top row g-2" role="search" method="get">
        <!-- Prima riga: Campo di ricerca libera, Menu a tendina per il coach e Slider per il range di prezzo -->
        <div class="row w-100 g-2 align-items-center">
            <!-- Campo di ricerca libera -->
            <div class="col col-md-4">
                <input type="text" class="form-control price-label" name="query" placeholder="Cerca corso">
            </div>

            <!-- Menu a tendina per il coach -->
            <div class="col col-md-4">
                <input type="text" class="form-control price-label" name="coach" id="coach-input" placeholder="Cerca coach">
            </div>



            <!-- Slider per il range di prezzo -->
            <div class="col col-md-4">
                <div class="price-label">
                    <input class="form-check-input my-checkbox" type="checkbox" value="True" id="flexCheckDefault" name="paid">
                    <label class="form-check-label" for="flexCheckDefault">
                        A pagamento
                    </label>
                    <input class="form-check-input my-checkbox" type="checkbox" value="True" id="flexCheckChecked" name="free">
                    <label class="form-check-label" for="flexCheckChecked">
                        Gratis
                    </label>
                    </div>
            </div>
        </div>

        <!-- Seconda riga: Due menu a tendina e bottone di ricerca -->
        <div class="row w-100 g-2 mt-3 align-items-center">
            <!-- Primo menu a tendina -->
            <div class="col col-md-4">
                <select class="form-control price-label" name="level">
                    <option value="">Scegli livello</option>
                    {% for l in livelli %}
                        <option value="{{ l }}">{{ l }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Secondo menu a tendina con piccolo menu a tendina accanto -->
            <div class="col col-md-4 d-flex align-items-center">
                <select class="form-control price-label me-2" name="ordering" style="width: auto;">
                    <option value="-">↓</option>
                    <option value="">↑</option>
                </select>
                <select class="form-control price-label" name="order_by">
                    <option value="">Ordina per</option>
                    {% for o in ordinamenti %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Bottone di ricerca -->
            <div class="col col-md-4 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-search"><span>Cerca</span></button>
            </div>
        </div>
    </form>
</div>

    
    <div class="album py-5 ">
    
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {% for c in object_list %}
        <div class="col">
          {% include "course_card.html"%} 
        </div>
        
        {%endfor%}
        </div>
        
        <br>
        <div class="n_text"> {{ page_obj.paginator.count }} risultati trovati | Pagina {{page_obj.number}} </div>
        <ul class="pagination mt-2 mb-0 justify-content-center n_text">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class='btn' href="?query={{ request.GET.query }}&coach={{ request.GET.coach }}&paid={{ request.GET.paid }}&free={{ request.GET.free }}&level={{ request.GET.level }}&ordering={{ request.GET.ordering }}&order_by={{ request.GET.order_by }}&page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class='btn' href="?query={{ request.GET.query }}&coach={{ request.GET.coach }}&paid={{ request.GET.paid }}&free={{ request.GET.free }}&level={{ request.GET.level }}&ordering={{ request.GET.ordering }}&order_by={{ request.GET.order_by }}&page={{ page_obj.next_page_number }}">></a>
            {% endif %}
        </li>
      </ul>
    </div>
    
    </div>
    


<script>
document.addEventListener('DOMContentLoaded', function() {
    var input = document.getElementById('coach-input');

    input.addEventListener('input', function() {
        var searchText = this.value.trim();

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.status == 200) {
                var data = JSON.parse(this.responseText);
                updateSuggestions(data);
            }
        };

        var url = '{% url 'essential:ajax_search_coaches' %}?q=' + encodeURIComponent(searchText);
        xhttp.open("GET", url, true);
        xhttp.send();
    });

    function updateSuggestions(data) {
        // Costruisci l'elenco dei suggerimenti
        var suggestions = [];
        data.forEach(function(item) {
            suggestions.push('<div class="suggestion-item" data-id="' + item.id + '">' + item.username + '</div>');
        });

        // Mostra i suggerimenti in un elemento div
        var suggestionList = document.createElement('div');
        suggestionList.innerHTML = suggestions.join('');
        suggestionList.className = 'suggestion-list';

        // Rimuovi eventuali suggerimenti precedenti
        var existingSuggestionList = document.querySelector('.suggestion-list');
        if (existingSuggestionList) {
            existingSuggestionList.parentNode.removeChild(existingSuggestionList);
        }

        // Aggiungi la nuova lista di suggerimenti dopo l'input
        input.parentNode.appendChild(suggestionList);

        // Aggiungi gestori per selezionare un suggerimento
        var suggestionItems = suggestionList.querySelectorAll('.suggestion-item');
        suggestionItems.forEach(function(suggestion) {
            suggestion.addEventListener('click', function() {
                var id = this.getAttribute('data-id');
                input.value = this.textContent.trim();
                suggestionList.parentNode.removeChild(suggestionList);
            });
        });

        // Chiudi la lista di suggerimenti se si fa clic altrove nella pagina
        document.addEventListener('click', function(event) {
            if (!suggestionList.contains(event.target) && event.target !== input) {
                suggestionList.parentNode.removeChild(suggestionList);
            }
        });
    }
});
</script>

{% endblock %}