{% extends 'base.html' %}


{% load static %}
<link rel="stylesheet" type="text/css"  href= "{% static 'css/style.css' %}">



{% block content %} 
    <div id="toast-container">
         {% if messages %}
         {% for message in messages %}
         <div class="toast align-items-center text-bg-{{ message.tags|default:'info' }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
               <div class="toast-body">
                  {{ message }}
               </div>
               <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
         </div>
         {% endfor %}
         {% endif %}
    </div>

{% block carousel %}
<div id="myCarousel" class="carousel slide mb-6 border-warning" data-bs-ride="carousel" data-bs-interval="4000" style="width:100%;">
    <div class="carousel-inner rounded-1 shadow-4-strong">
      <div id="carousel" class="carousel-item active" >
        <img src="{% static '/images/background1.jpg' %}" class="d-block w-100" />
        <div class="container">
          <div class="carousel-caption text-start">
          {% if user.is_authenticated %}
            <h1>Benvenuto {{user.username}}!</h1>
            <p>Clicca per visualizzare i tuoi corsi!</p>
            <p><a class="btn" href="{% url 'users:dashboard'%}"><span>I tuoi corsi</span></a></p>
            {% else %}
            <h1>“Tu non sai cos'è il tennis, è una relazione.”</h1>
            <p class="opacity-75">ZENDAYA - Tashi Donaldson</p>
            <p><a class="btn" href="{% url 'essential:courseslist' %}"><span>Lista corsi</span></a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="carousel" class="carousel-item">
        <img src="{% static '/images/background2.jpg' %}" class="d-block w-100"  />
        <div class="container">
          <div class="carousel-caption"> 
            {% if user.is_authenticated %}
            <h1>Accedi al tuo profilo!</h1>
            <p>Per modificare i tuoi dati</p>
            <p><a class="btn" href="{% url 'users:profile' user.pk %}"><span>Profilo</span></a></p>
            {% else %}
            <h1>Unisciti ai nostri corsi di tennis online!</h1>
            <p>Visita il sito e inizia a migliorare il tuo gioco oggi stesso!</p>
            <p><a class="btn" href="{% url 'register' %}"><span>Sign Up</span></a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="carousel" class="carousel-item" >
        
        <img src="{% static '/images/background3.jpg' %}" class="d-block w-100" />
        <div class="container">
          <div class="carousel-caption text-end">
          {% if user.is_authenticated %}
            <h1>“Tu non sai cos'è il tennis,</h1>
            <h1> è una relazione.”</h1>
            <p class="opacity-75">ZENDAYA - Tashi Donaldson</p>
            <p><a class="btn" href="{% url 'essential:courseslist' %}"><span>Lista corsi</span></a></p>

            {% else %}
            <h1>Accedi al profilo</h1>
            <p>... e continua il percorso coi nostri corsi!</p>
            <p><a class="btn" href="{% url 'login' %}"><span>Log In</span></a></p>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %} 
<script>
     document.addEventListener('DOMContentLoaded', function() {
         var toastElList = [].slice.call(document.querySelectorAll('.toast'));
         var toastList = toastElList.map(function(toastEl) {
             return new bootstrap.Toast(toastEl, { autohide: true, delay: 4000 });
         });
         toastList.forEach(toast => toast.show());
     });
</script> 
{% endblock %}