{% extends 'base.html' %}
{% load static %}
{% block title %} 404 {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-0" style="color:red">404 - Pagina non esistente!</h2>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" href="{% url 'essential:home' %}"><span>Torna alla Home</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
