{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Profilo {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="mb-0">Modifica Profilo: </h2>
                </div>
                <div class="card-body">
                    <form id="modificaForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    </form>
                    <a href="{% url 'users:change_password' %}">Vuoi cambiare la password? Clicca qui</a>
                </div>
                <div class="card-footer">
                    <!-- Pulsante Modifica -->
                    <a type="button" class="btn btn-secondary" href="{% url 'users:profile' user.pk%}" >Indietro</a>
                    <button type="submit" form="modificaForm" class="btn btn-primary" id="salvaBtn">Salva</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}