.body-tennis{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23535200'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%232a2900'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 855)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-136.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.btn{
    display: inline-block;
    border-radius: 4px;
    background-color: #eab621;
    border: none;
    color: #343a40;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 10px;
    
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
    
  }
  
  .btn:hover span {
    padding-right: 15px;
    
  }
  .btn:hover{
    background-color: #ebf562;
    
    color: #343a40;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-admin{
    background-color: #e08414f8;
    width: 120px;
  }
  .btn-admin:hover{
    background-color: #eda855f8;
    
    color: #343a40;
  }

  .btn-creator{
    width:40px;
    height:40px;
    border-radius: 10px;
  }
  
.navbar-dark .navbar-brand {
  color: #eab621;
  font-weight: bold;
}
.navbar-dark .navbar-brand:hover {
  color:#ebf562;
}


.body {
  background-color: #343a40;
  }

#carousel{
  height:500px; 
  background-size:cover; 
  background-position: center;
}
.n_text{
  color: #a2a6aa
}

.card{
  background-color: #a2a6aa;
  border: 2px solid #eab621;
  border-radius: 5px;
}
.card-title-wrap {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%; /* Assicura che il titolo non superi la larghezza del contenitore */
}
.image-course{
  background-size:cover; 
  background-position: center;
}

.card-custom{
  width: 400px;
  overflow: hidden;
}
.img-course{
  width: 100%; /* Assicura che l'immagine riempia la larghezza della card */
  height: 250px; /* Fissa l'altezza dell'immagine */
  object-fit: cover; /* Mantiene l'immagine proporzionata e centrata */
  
  border-radius: 4px;
  border: 1px solid #eab621;
}

.price-label{
  padding: 8px 12px;
  
  border: 1px solid #eab621;
  border-radius: 4px;
  color: #495057;
  background-color: #fff;
}
.btn-search{
  padding: 12px;
  border-radius: 4px;
  
  margin-top: 0px;
}
.my-checkbox{
  border: 2px solid #495057;
}
.my-checkbox:checked {
  background-color: #eab621;
  border-color:  #eab621;
  color: #495057;
}
.border-warning {
  border: 2px solid #eab621;/* Imposta il colore del bordo giallo */
  border-radius: 2px;
}

.form-check-label {
  margin-right: 2em;
}
.form-check-input:focus{
  box-shadow: 0 0 0 2px #eab621; /* Alone giallo */
}

.video-body{
  background-color: #d2d6d9
}

.body-lesson{
  
  border-radius: 4px;
}

.coach-profile{
  
  margin-right: 1em;
}

.custom-footer{
  color: #eab621;
}
.dropdown-toggle::after {
  border-top-color: #eab621; /* Cambia il colore della freccetta */
}

.dropdown-menu {
  top: 100%;
  left: 0;
  transform: translateY(0);
  background-color: #343a40; /* Background scuro */
  color: #d2d6d9; /* Testo bianco */
  z-index: 1050; /* Aumenta il valore di z-index per sovrapporre altri elementi */

}

.dropdown-menu .dropdown-item {
  color: #d2d6d9; /* Testo bianco per gli elementi del menu */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #343a40; /* Colore di sfondo al passaggio del mouse */
  color: #fff
}

.alert-custom{
  background-color: #a2a6aa;
  border: 2px solid #eab621;
}


.suggestion-list {
  position: absolute;
  width: 425px;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #eab621;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
  
  border: 2px solid #343a40;
}
